body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.cake {
  display: flex;
  flex-direction: row;
}


.homeImage {
  background-image: url('https://images.unsplash.com/photo-1525203135335-74d272fc8d9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80');
}


.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 10px 30px;
    color: #000000;
    margin: 20px 10px 10px;
    border-radius: 4px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.purple {
    background-color: pink;
    box-shadow: 0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(189, 142, 183, 2),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}

.sep {
  padding-top: 10px;
}

/*.img {
  position: relative;
  height: 500px;
  width: 2000px;
  text-align: left;
  display: flex;
}*/